<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <title>EH-Scan</title>
</head>
<body>
    <nav class="navbar">
        <div class="navbar-left">
            <a href="{{ url_for('index') }}">Input</a>
            <a href="{{ url_for('output') }}">Output</a>
        </div>
        <div class="navbar-right">
            <a href="{{ url_for('settings') }}">Settings</a>
        </div>
    </nav>
    <h1>Input</h1>
    <form method="POST" action="{{ url_for('submit_form') }}">
        <label for="target">Target:</label>
        <input type="text" id="target" name="target"><br><br>
        <div class="checkboxes">
            <input type="checkbox" id="ipv4" name="ipv4" value="ipv4" checked>
            <label for="ping">ipv4</label><br>
            <input type="checkbox" id="ipv6" name="ipv6" value="ipv6" checked>
            <label for="trace">ipv6</label><br><br>
        </div>
        <input type="checkbox" id="trace" name="trace" value="trace">
        <label for="ping">Ping</label><br><br>
        <button type="submit">Submit</button>
    </form>
    
</body>
</html>