<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <title>VigilentEye</title>
</head>
<body>
   

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{ url_for('index') }}">VigilentEye</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('index') }}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('output') }}">Scans</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="#">Ping</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Custom Code</a>
                    </div>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('settings') }}">Settings</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container mt-4">
        <h1>Target:</h1>
        <form method="POST" action="{{ url_for('submit_form') }}">
            <div class="form-group">
                
                <input type="text" class="form-control" id="target" name="target" oninput="updateCheckboxes()">
            </div>
            <div class="form-check d-flex">
                <div class="mr-6">
                    <input type="checkbox" class="form-check-input" id="ipv4" name="ipv4" value="ipv4" checked>
                    <label class="form-check-label" for="ipv4">IPv4</label>
                </div>
                <div class="ml-5">
                    <input type="checkbox" class="form-check-input" id="ipv6" name="ipv6" value="ipv6" checked>
                    <label class="form-check-label" for="ipv6">IPv6</label>
                </div>
            </div>
            <div class="dropdown-divider"></div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="ping" name="ping" value="ping" checked>
                <label class="form-check-label" for="ping">Ping</label>
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="trace" name="trace" value="trace">
                <label class="form-check-label" for="trace">Trace</label>
            </div>
            <button type="submit" class="btn btn-primary mt-3">Submit</button>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
    
    <script>
    function updateCheckboxes() {
        var targetInput = document.getElementById("target");
        var ipv4Checkbox = document.getElementById("ipv4");
        var ipv6Checkbox = document.getElementById("ipv6");
    

        var isIPv4 = /(?:[0-9]{1,3}\.){3}[0-9]{1,3}/.test(targetInput.value);
        var isIPv6 = /^([0-9a-fA-F]{0,4}:){2,7}[0-9a-fA-F]{1,4}$/.test(targetInput.value);
        
        var isIPv4Subnet = /(?:[0-9]{1,3}\.){3}[0-9]{1,3}\/[0-9]{1,2}/.test(targetInput.value);
        var isIPv6Subnet = /^([0-9a-fA-F]{0,4}:){2,7}[0-9a-fA-F]{1,4}\/[0-9]{1,3}$/.test(targetInput.value);

        ipv4Checkbox.disabled = isIPv6 || isIPv6Subnet;
        ipv6Checkbox.disabled = isIPv4 || isIPv4Subnet;

        if (ipv4Checkbox.disabled) {
            ipv4Checkbox.checked = false;
            ipv6Checkbox.checked = true;
        }
        if (ipv6Checkbox.disabled) {
            ipv6Checkbox.checked = false;
            ipv4Checkbox.checked = true;
        }
        if (!ipv4Checkbox.disabled && !ipv6Checkbox.disabled) {
            ipv4Checkbox.checked = true;
            ipv6Checkbox.checked = true;
        }
    }
    </script>
</body>
</html>